/*Инпуты*/
.txta {
  margin: 10px;
  height: auto;
  width: auto;
  min-width: 400;
  background: #fff;
  border: 2px solid #000;
  resize: both;
  overflow: auto;
  padding: 10;
  counter-reset: number;
  list-style-type: none;
  border-radius: 5px;
}
.txta li::before {
  counter-increment: number;
  content: counter(number) "\a0";
  color: #808080;
  padding-right: 10;
}
::-webkit-resizer {
  border: 20px solid transparent;
  border-right: 20px solid #000;
  border-bottom: 20px solid #000;
}
/* Подсказка */
.tooltip {
  position: absolute;
  transform: translate(-18px, 0px);
}
.tooltip button {
  border: none;
  font-size: 14px;
  padding: 4;
  background: #fff;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 145%;
  left: 50%;
  margin-left: -10px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 86%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* Checkbox */
.checkbox {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox input {
  opacity: 0;
  cursor: pointer;
  margin: 5;
}
.checkbox input:checked ~ .checkmark {
  background-color: #f00;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #000;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Выбор языка */
select {
  height: 25px;
  width: 100px;
  border: 2px solid #000;
  font-weight: bold;
  cursor: pointer;
}
/* кнопка "Перевести" */
.btn_2 {
  width: 150px;
  height: 50px;
  border: 0;
  background: #202020;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #202020;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.btn_2 * {
  transition: all 0.5s;
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
.btn_2:hover .bgrnd_txt {
  color: #fff;
}
.btn_2:hover .bgrnd {
  transform: translate(0px, 0px);
}
.btn_2content {
  background: #fff;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
.bgrnd {
  width: 150px;
  transform: translate(-200px, 0px);
  z-index: 1;
  background: #202020;
  box-shadow: 20px 0px 0px #f00;
}
.bgrnd_txt {
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
/* Кнопка "Load" */
.btn_1 {
  width: 150px;
  height: 50px;
  border: 0;
  background: #000;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transition: all 0.2s;
}
.btn_1:hover .btn_1content {
  color: #fff;
  background: #000;
}
.btn_1:hover .arrows {
  background: #fff;
  animation: gg 1.5s;
}
.btn_1:active .arrows {
  background: #f00;
  margin: 2;
}
.btn_1 .btn_1content,
.arrows,
.btn_1content {
  transition: all 0.2s;
  display: flex;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
.arrows {
  background: #000;
  margin: 1;
}
.btn_1content {
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  background: #fff;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}
/* Icons */
.arrow-down {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255,0,0,0.4);
  background: #101010;
  box-shadow: 0 0 20px #101010;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
}
.arrow-down:hover .arrow-slide {
  top: 0;
}
.arrow-down:hover .s {
  background: #000;
}
.s {
  top: 20;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background: #f00;
  display: inline-block;
  z-index: 1;
}
.arrowLeft {
  left: 10;
  transform: rotate(45deg);
  transition: all 0.4s ease;
}
.arrowRight {
  right: 10;
  transform: rotate(-45deg);
  transition: all 0.4s ease;
}
.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #f00;
  position: absolute;
  display: block;
  transition: all 0.3s ease-in-out;
}
.active span:first-of-type {
  transform: rotate(-45deg);
}
.active span:last-of-type {
  transform: rotate(45deg);
}
/* Шрифт e-Ukraine */
@font-face {
  font-family: "e-Ukraine";
  src: url("./fonts/e-UkraineHead-Medium.woff") format("woff");
}
/* flex(горизонтально) */
.flex-container {
  display: flex;
  flex-direction: row;
}
/* оптимизация flex(вниз) под мобильное устройство */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  #картинка {
    width: 0;
  }
  .dcontent {
    display: block;
    margin: 0 auto 20 auto;
  }
}
/* Footer */
.centerFooter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20;
}
.container {
  margin: 20;
}
footer {
  color: #fff;
  height: 80;
  transform: translate(0, 0);
}
footer h3 {
  position: absolute;
  padding: 30 0 0 30;
  cursor: pointer;
  margin: 0;
  z-index: 1;
}
footer h3:after {
  display: block;
  content: "";
  border-bottom: solid 3px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
footer h3:hover:after {
  transform: scaleX(1);
}
footer p {
  position: absolute;
  font-size: 13px;
  padding: 70 0 0 70;
  margin: 0;
}
#canvas1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #202020, #000);
}
.form_div {
  position: absolute;
  transform: translate(0px, 100px);
  margin-left: 80;
  width: auto;
  background: #fff;
  padding: 20;
  box-shadow: 0px 0px 15px #000;
}
.social_bar {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  text-align: center;
  z-index: 1;
}
.social_bar a {
  cursor: default;
}
.social_bar a:after {
  position: absolute;
  top: -18;
  right: 0;
  content: "Follow us";
  color: #555;
  font-size: 14px;
}
.social_bar a:before {
  position: absolute;
  top: -10;
  content: "";
  display: block;
  width: 150;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255,0,0,0.4) 20%);
}
.social_bar i {
  cursor: pointer;
  color: #666;
  font-size: 40px;
  padding: 0.6rem 0.6rem;
  transition: color 0.2s ease-in-out;
  margin: 0 0.4rem;
}
.social_bar i:hover {
  color: #830000;
}
.netbox {
  position: relative;
  background: #101010;
  box-shadow: 0 0 20px #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
}
/* номер сборки (номер, дата) */
.build {
  font-size: 13px;
  position: fixed;
  right: 5;
  bottom: 5;
  color: #808080;
  user-select: none;
}
.us-none {
  user-select: none;
}
/* Ассистент */
.hideOv {
  overflow: hidden;
}
.slide {
  display: grid;
  grid-template-rows: 1fr auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 25px #000;
  overflow: hidden;
  animation: slide-in 1.2s;
  -webkit-animation: slide-in 1.2s;
}
.background {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, #2a2a2a, #000);
}
.red-back {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #be1532;
  animation: redBack 1s;
  -webkit-animation: redBack 1s;
}
.dialogue {
  position: absolute;
  display: flex;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: showBlock 1.3s linear forwards;
}
.dcontent {
  position: relative;
  top: 50%;
}
.anim {
  animation: showBlock 5s;
}
.assisInp {
  border: none;
  border-radius: 3px;
  height: 36px;
  width: 200px;
  cursor: text;
  background: rgba(255,110,110,0.3);
  transition: all 0.3s;
  padding: 0 10 0 10;
}
.assisInp:hover {
  box-shadow: 1px 1px 15px rgba(255,110,110,0.3);
}
.assisInp:focus {
  background: #971127;
}
.assisInp:focus:hover {
  box-shadow: 0px 0px 0px rgba(255,110,110,0.3);
}
.assisInp:focus::placeholder {
  opacity: 0;
}
.assisInp::placeholder {
  color: rgba(255,255,255,0.3);
}
#картинка {
  padding-right: 40;
  min-width: 256;
  min-height: 302;
}
#кнопка {
  width: auto;
  border: none;
  border-radius: 3px;
  padding: 4 10;
  margin-top: 20;
  background: rgba(255,110,110,0.3);
  transition: box-shadow 0.3s;
}
#кнопка:hover {
  box-shadow: 1px 1px 15px rgba(255,110,110,0.3);
}
/* Мелкое */
main {
  padding: 5;
}
html {
  scroll-behavior: smooth;
}
button {
  margin: 0 20 0 20;
  cursor: pointer;
}
body {
  font-family: e-Ukraine;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
input {
  cursor: pointer;
}
.right {
  float: right;
}
.h1-1 {
  font-family: sans-serif;
  font-size: 42px;
}
hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #f5f5f5 30% 70%, transparent);
}
a {
  text-decoration: none;
}
* {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
/* Анимации, Animations */
@-webkit-keyframes redBack {
  0% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes slide-in {
  0% {
    top: 50%;
    transform: translate(200%, -50%);
    right: -200%;
    height: 80%;
    width: 80%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
  }
}
@-moz-keyframes gg {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
}
@-webkit-keyframes gg {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
}
@-o-keyframes gg {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
}
@keyframes gg {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
}
@-moz-keyframes showBlock {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes showBlock {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes redBack {
  0% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes redBack {
  0% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-o-keyframes redBack {
  0% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes redBack {
  0% {
    transform: translate(-100%, 100%) rotate(45deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes slide-in {
  0% {
    top: 50%;
    transform: translate(200%, -50%);
    right: -200%;
    height: 80%;
    width: 80%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
  }
}
@-webkit-keyframes slide-in {
  0% {
    top: 50%;
    transform: translate(200%, -50%);
    right: -200%;
    height: 80%;
    width: 80%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
  }
}
@-o-keyframes slide-in {
  0% {
    top: 50%;
    transform: translate(200%, -50%);
    right: -200%;
    height: 80%;
    width: 80%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
  }
}
@keyframes slide-in {
  0% {
    top: 50%;
    transform: translate(200%, -50%);
    right: -200%;
    height: 80%;
    width: 80%;
  }
  70% {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
  }
}
